{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template block_rajabsgames/status

    TODO describe template status

    Example context (json):
    {
    }
}}

<div class="block_rajabsgames d-flex align-items-center iv-mr-3">
{{#badges}}
<div class="iv-mr-3 d-flex flex-column align-items-center rg_badgestatus_item" data-id="{{id}}">
    <img class="rg_badge_picture {{classes}}"
        src="{{picture}}"
        alt="{{name}}"
        title="{{name}}"
        width="25"
        height="25" />
     <small class="rg_badge_count iv-font-weight-light">
     <span class="badge-count" data-count="{{mine}}" data-total="{{badgecount}}">{{mine}}</span> / {{badgecount}}</small>
</div>
{{/badges}}
</div>
